<div class="calculator">
  <div class="screen">
    <ng-template [ngIf]="operation != ''" [ngIfElse]="FirstPosition">
      <p class="top_value">{{first_value ? first_value : '0'}}</p>
    </ng-template>
    <ng-template #FirstPosition>
      <p class="bottom_value">{{first_value}}</p>
    </ng-template>
    <p class="bottom_value">{{second_value}}</p>
    <p class="bottom_value">{{result}}</p>
    <p class="sign-value">{{operation}}</p>
  </div>
  <div class="buttons">
    <div class="numbers">
      <button (click)="insertChar('7')">7</button>
      <button (click)="insertChar('8')">8</button>
      <button (click)="insertChar('9')">9</button>
      <button (click)="insertChar('4')">4</button>
      <button (click)="insertChar('5')">5</button>
      <button (click)="insertChar('6')">6</button>
      <button (click)="insertChar('1')">1</button>
      <button (click)="insertChar('2')">2</button>
      <button (click)="insertChar('3')">3</button>
      <button (click)="insertChar('0')">0</button>
    </div>
    <div class="operators">
      <button (click)="sign('+')">+</button>
      <button (click)="sign('-')">-</button>
      <button (click)="deleteChar()">←</button>
      <button (click)="calculate()">=</button>
    </div>
  </div>
</div>